<ion-content [fullscreen]="true">
  <div class="panel">
    <div class="header">
      <ion-button (click)="openHome()" color="none">
        <ion-icon name="home-outline" size="large"></ion-icon>
      </ion-button>
      <ion-chip>
        <ion-avatar>
          <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Usuário</ion-label>
      </ion-chip>
    </div>
    <div class="content">
      <h1>Perfil de Usuário</h1>
      <div>
        <ion-card id="cardPerfil">
          <ion-avatar>
            <img alt="AvatarPerfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-card-title>Fulana de Tal</ion-card-title>
            <ion-label>Usuário Administrador</ion-label>
        </ion-card>
        <ion-card class="ion-border">
          <ion-card-header>
            <ion-card-subtitle>Meu Endereço</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Rua 1201, N10 AP2301
            Londrina, Paraná - Brasil 86025660
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-button id="outrosIoT">
               Conecte-se a outros dipositivos IoT PADO
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
          </ion-card-header>
        </ion-card>
      </div>
    </div>
    <div class="footer">
      <img alt="Logo Padocare" src="../../assets/logo.png" />
    </div>
  </div>
</ion-content>
