<ion-content [fullscreen]="true">
  <div class="panel">
    <div class="header">
      <img alt="Logo Padocare" src="../../assets/logo.png" />
    </div>
    <div class="content">
      <form (ngSubmit)="login()">
        <ion-input [(ngModel)]="id" label="ID" name="id" label-placement="floating" fill="outline" placeholder="ID"></ion-input>
        <ion-input [(ngModel)]="password" label="Senha" name="password" label-placement="floating" fill="outline" placeholder="Senha" type="password"></ion-input>
        <ion-button expand="block" type="submit">Entrar</ion-button>
        <span>Não tem uma conta?</span>
        <a href="">Crie sua conta</a>
      </form>
    </div>
  </div>
</ion-content>
