.panel{
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;

  .content{
    form{
      display: flex;
      flex-direction: column;
      margin: 30px;
      ion-input{
        margin-bottom: 20px;
      }
      ion-button{
        height: 50px;
        font-size: 16px;
        font-weight: 700;
      }

      span{
        margin-top: 15px;
        align-self: center;
      }

      a{
        align-self: center;
        color: #DE2B6E
      }
    }
  }

  .header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;

    img{
      width: 300px;
      margin-bottom: 60px;
    }

  }

}
