.panel{
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80% 10%;

  .content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    justify-items: center;
    align-items: center;

    h1{
      font-size: 38px;
      font-family: 'Orbitron';
      font-weight: 600;
    }

    .menu-list{
      list-style: none;
      display: flex;
      flex-direction: column;

      ion-col{
        display: flex;
        justify-content: center;
        align-items: center;

      }

      .menu-button{

        ion-button{
          background-color: #DE2B6E;
          height: 70%;
          border-radius: 5px;
          margin: 30px 10px 20px 10px;
          display: flex;
          color: black;

          span{
            font-size: 10px;
            font-family: 'Orbitron';
            text-wrap: wrap;
          }
        }
      }
    }

  }

  .header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    ion-button{
      background-color: #DE2B6E;
      height: 70%;
      border-radius: 5px;
      margin: 30px 10px 20px 10px;
    }

    ion-chip{
      font-size: 22px;
      margin: 30px 10px 20px 10px;
      height: 60px;
      ion-avatar{
        width: 40px;
        height: 40px;

        img{
          margin-left: 5px;
        }
      }
    }

  }

  .footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 250px;
    }
  }
}
