.panel {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80% 10%;

  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
    justify-items: center;
    align-items: center;

    h1 {
      font-size: 38px;
      font-family: 'Orbitron';
      font-weight: 600;
      height: 20%;
    }
  }

  .header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    ion-button {
      background-color: #de2b6e;
      height: 70%;
      border-radius: 5px;
      margin: 30px 10px 20px 10px;
    }

    ion-chip {
      font-size: 22px;
      margin: 30px 10px 20px 10px;
      height: 50px;

      ion-avatar {
        width: 40px;
        height: 40px;

      img {
        margin-left: 5px;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 250px;
  }
}
}
